# Builds:
Adventure
nds/build/
*.elf
*.nds

# Save:
Adventure.sav

# XCode:
*.xcodeproj/
preActionLog\.txt

# Visual Studio code:
.vscode/

# Mac:
.DS_Store

# CMake:
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
build/

# Auto generated
src/gen/

# NDS Makefile is static
!nds/Makefile
