# Builds:
Adventure
nds/build/
*.elf
*.nds

# Save:
Adventure.sav

# XCode:
*.xcodeproj/

# CMake:
cmake/
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt

# Auto generated
src/areas.hpp
src/areas.cpp

# NDS Makefile is static
!nds/Makefile